[user]
	email = austincgause@gmail.com
	name = Pairadux
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/austingause/.config/git/ignore
[tag]
	sort = version:refname
[pager]
	tag = false
{{- $ghPath := "/usr/bin/gh" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $ghPath = "/opt/homebrew/bin/gh" }}
{{- end }}
[credential "https://github.com"]
	helper =
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ $ghPath }} auth git-credential
