* {
    border: none;
    border-radius: 0;
    padding-top: 2px;
    padding-bottom: 1px;
    font-family: FiraCode Mono;
    font-weight: 700;
    /*min-height: 20px;*/
    font-size: 18px;
}

window#waybar {
    /*background: rgba(0, 0, 0, 0);*/
    background: #24283b;
}

#workspaces {
    transition: none;
    background: #383c4a;
}

#workspaces button.active {
    background: inherit;
    color: #ff757f;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #ffffff;
}

#workspaces button.focused {
    color: white;
}

#tray menu seperator {
    min-height: 10px;
}

#workspaces,
#custom-spotify,
#custom-power,
#mode,
#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#tray,
#window,
#custom-l_end,
#custom-r_end {
    color: #7aa2f7;
    background: #24283b;
    opacity: 1;
}

#custom-center {
    background: rgba(0, 0, 0, 0);
}

#temperature,
#cpu {
    padding-right: 8px;
}

/*#custom-center {*/
/*    font-size: 20px;*/
/*}*/

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    padding-right: 4px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    padding-left: 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
