* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono;
    font-weight: bold;
    min-height: 20px;
    font-size: 18px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

#workspaces {
    transition: none;
    background: #383c4a;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    transition: none;
    color: #7aa2f7;
    padding: 5px;
}

#workspaces button.active {
    background: #bb9af7;
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    border-radius: 10px;
    color: #ffffff;
    background: #7aa2f7;
}

#workspaces button.focused {
    color: white;
}

#tray menu * {
    min-height: 16px;
}

#tray menu seperator {
    min-height: 10px;
}

#workspaces,
#custom-spotify,
#custom-center,
#custom-power,
#mode,
#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#tray,
#window,
#custom-l_end,
#custom-r_end {
    color: #7aa2f7;
    background: #24283b;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#temperature,
#cpu {
    padding-right: 16px;
}

#custom-center {
    font-size: 24px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#custom-spotify {
    margin: 4px 0px 4px 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 21px 21px 21px 21px;
    margin-right: 9px;
}
    
#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* #custom-pacman { */
/*     padding-left: 16px; */
/*     padding-right: 8px; */
/*     border-radius: 10px 0px 0px 10px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */

/* #custom-spotify { */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/*     border-radius: 10px; */
/* } */
/**/
/* #custom-center { */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/*     border-radius: 10px; */
/*     font-size: 20px; */
/* } */
/**/
/* #mode { */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 10px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */
/**/
/* #clock { */
/*     margin-right: 8px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 10px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */
/**/
/* #custom-weather { */
/*     padding-right: 16px; */
/*     border-radius: 0px 10px 10px 0px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */
/**/
/* #pulseaudio { */
/*     margin-right: 8px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 10px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */

/* #memory { */
/*     margin-right: 8px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 10px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */
/**/
/* #cpu { */
/*     margin-right: 8px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 10px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */
/**/
/* #temperature { */
/*     margin-right: 8px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 10px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */

/* #tray { */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 10px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */
